<div class="cont">
  <div class="features-header">
    <h3>
      Our <span class="highlight-text">Interactive</span> <br />
      Features
    </h3>
    <p>
      Lorem ipsum dolor sit amet, Suscipit aliquam voluptatibus consectetur!
      Ipsum, alias magnam!
    </p>
  </div>

  <div class="features-cont">
    <div class="feature-card">
      <i class="feature-icon bx bxs-calendar-event"></i>
      <h4>Calendar view</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
        voluptate.
      </p>
    </div>

    <div class="feature-card">
      <i class="feature-icon bx bxs-group"></i>
      <h4>Collaboration</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
        voluptate.
      </p>
    </div>

    <div class="feature-card">
      <i class="feature-icon bx bxs-chart"></i>
      <h4>Progress tracking</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
        voluptate.
      </p>
    </div>
  </div>
</div>
