@use "../../../../assets/styles/base/color" as colors;
@use "../../../../assets/styles/base/typography" as typos;

.uses-area {
  background: rgba(0, 73, 68, 1);
  color: colors.$text-color-secondary-dark;
  padding: 5rem 10rem;
  border: 1px solid red;
}
.uses-area h2 {
  font-size: typos.$font-size-3xl;
  line-height: typos.$line-height-lg;
  font-weight: typos.$font-weight-bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.uses-area-cards {
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  width: 100%;
  height: 300px;
  display: grid;
  margin-bottom: 5rem;
  background-color: rgba(0, 0, 0, 0.623);
  border-radius: 10px;
  overflow: hidden;
}


.card-one {
  grid-template-columns: 2fr 1fr;
}
.card-two {
  grid-template-columns: 1fr 2fr;
}
.card-three {
  grid-template-columns: 2fr 1fr;
}

.card .card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  gap: 10px;
}
.card .card-text h3 {
  font-size: typos.$font-size-xl;
  text-transform: uppercase;
}
.card .card-text p {
    color:colors.$bg-tertiary-light;
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media (max-width: 992px) {


  .uses-area {
    padding: 4rem 2rem;
    width: 100%;
    height: auto;
  }
  .uses-area h2 {
     line-height: typos.$line-height-sm;
     color: colors.$text-color-primary-dark;
     font-size: typos.$font-size-2xl;
     margin-bottom: 2rem;
  }


  .card {
  width: 100%;
  height: 300px;
  display: grid;
  margin-bottom: 5rem;
  background-color: rgba(0, 0, 0, 0.623);
  border-radius: 10px;
  overflow: hidden;
}

.card-one {
  grid-template-columns:1fr 1fr;
}
.card-two {
  grid-template-columns:1fr 1fr;
}
.card-three {
  grid-template-columns:1fr 1fr;
}

.card .card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:1rem;
  gap: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

}
