<div class="container uses-area">
  <h2>Who can use our app?</h2>

  <div class="uses-area-cards">
    <div class="card card-one">
      <div class="card-text">
        <h3>Individuals</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          voluptate.
        </p>
      </div>
      <img  src="images/doctor.jpg" alt="one" />
    </div>
    <div class="card card-two">
      <img src="images/students.jpg" alt="" />
        <div class="card-text">
        <h3>Individuals</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          voluptate.
        </p>
      </div>
    </div>
      <div class="card card-three">
      <div class="card-text">
        <h3>Individuals</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          voluptate.
        </p>
      </div>
      <img src="images/businessman.jpg" alt="" />
    </div>
  </div>
</div>
