<div class="hero">

  <div class="gradient-effect"></div>
  <div>
    <h1>
      Use our advanced
      <span class="highlight-text">task management app</span> to ease your work
      load ...
    </h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro dolorem
      enim ea atque odio voluptatibus quos rerum vero ipsam. Porro dolorem enim
      ea atque odio voluptatibus quos ducimus rerum vero ipsam.
    </p>
  </div>
  <div class="call-to-action">
    <button class="btn-primary" routerLink="/login">Get started</button>
  </div>
</div>
